<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StartPn Jr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Fondo animado con círculos -->
    <div class="background-animation">
        <div class="circle-bg circle-bg-1"></div>
        <div class="circle-bg circle-bg-2"></div>
        <div class="circle-bg circle-bg-3"></div>
        <div class="circle-bg circle-bg-4"></div>
        <div class="circle-bg circle-bg-5"></div>
        <div class="circle-bg circle-bg-6"></div>
        <div class="circle-bg circle-bg-7"></div>
        <div class="circle-bg circle-bg-8"></div>
    </div>

    {% if session.get('user') %}
<nav class="navbar">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='/img/Fondo-login.png') }}" alt="Fondo login" class="Fondo-login">
        <span class="nav-title">StartPn Jr</span>
    </div>

<div class="menu-opciones">
    <button class="menu-btn">⋮</button>
    <div class="menu-desplegable">
        <a href="{{ url_for('home') }}">🏡 Inicio</a>
        <a href="{{ url_for('panel_emprendedor') }}">🚀 Ir al Panel</a>
        <a href="{{ url_for('logout') }}">🚪 Cerrar sesión</a>
    </div>
</div>
</nav>




    {% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>